<!DOCTYPE html>
<html ng-app="dictionary">

<head>
	<title>{{appData}}</title>
</head>
<body>
	<div ng-controller="dictionaryController">
		<table>
			<thead><td>ID</td><td>Name</td><td>Comment</td><td>Date</td><td>Action</td></thead>
			<tr ng-repeat="i in appData">
				<td>{{i._id}}</td><td>{{i.name}}</td><td>{{i.comment}}</td><td>{{i.date | date:'medium'}}</td><td><a ng-click="deleteRecord(i._id)" href="">Delete</a></td>
			</tr>
		</table>
		<form novalidate>
		<table class="insertTable">
			<thead><td>Name</td><td>Comment</td><td>Date</td><td>Action</td></thead>
				<td><input type="text" name="name" ng-model="name"/></td><td><input type="text" name="comment" ng-model="comment"/></td><td><input name="date" type="text" ng-model="date"/></td><td><a ng-click="insertRecord()" href="">Insert</a></td>
		</table>
		</form>
	</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="atrb.js"></script>
<link rel="stylesheet" href="atrb.css">
</html>
